@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import "tailwindcss";

* {
  cursor: none;
}

@theme {
  --color-themegreen: #25db79;
  --font-poppins: "Poppins", sans-serif;
}

